.Badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Badge img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.Badges {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Badges ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}