.Search {
    display: flex;
    align-items: stretch;
    border: 1px solid gray;
    flex: 1;
    height: 36px;
    max-width: 400px;
    border-radius: 5px;
}

.Search:focus-within {
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    background-color: #f8f9fa;
}

.Glass {
    height: 100%;
    padding-inline: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Input {
    height: 100%;
    border: none;
    flex: 1;
}

.Input:focus {
    outline: none;
}

.Clear {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding-inline: 0.5rem;
    border-radius: 10%;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}