.SearchResults {
    width: 50%;
}

.Table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Employee {
    display: flex;
    gap: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border: 1px solid #e0e0e0
}

.Picture {
    height: 105px;
    width: 105px;
    border-radius: 50%;
}

.Picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

}

.Name {
    display: flex;
    gap: 0.25rem;

}

.Team {

}

.Link {
    color: inherit;
    text-decoration: none;
    display: contents;    
}