.Spinner {
    position: absolute;
    border-style: solid;
    border-color: black;
    height: 20px;
    width: 20px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 9999px;
    top: 50%;
    left: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}